<!DOCTYPE html>
<html lang="en">
<head>
    <title>&#128036;&nbsp;VJmes</title>  
    <!--Metadata-->
    <meta charset="utf-8>">
    <!--OpenGraph-->
    <meta property="og:title" content="VJmes • Now With 80% More Honk" />
    <meta property="og:site_name" content="VJmes">
    <meta property="og:description" content="My Personal Little Landing Ducksite">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://vjm.es/" />
    <meta property="og:image" content="https://vjm.es/business-cat.jpg" />
    <meta name="twitter:image:alt" content="Some sort of duck">
    <meta name="twitter:site" content="@VJmes">
    <!--External Includes-->
    <link rel="stylesheet" href="/honk.css">
    <link rel="stylesheet" href="https://fonts.bunny.net/css?family=inter">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
    {% block content %} {% endblock %}
    <div class="vjmes-bottom">
        <!--Biblically accurate bread emoji-->
        <a href="/">&#127838;</a>&nbsp;&#149;&nbsp;
        <!--Much Thank-->
        Powered by&nbsp;<a href="https://www.getzola.org/">Zola</a>&nbsp;&#149;&nbsp;
        Hosted on&nbsp;<a href="https://pages.github.com/">Github Pages</a>
    </div>
</html>